.brown {
    color: brown;
    
}
.button{
    background-color: brown;
    border-radius: 30px;
    color: white;
}
.padding{
    padding: 30px;
}
.width{
    width: 300px;
}
.delivery{
    color: brown;
    border-radius: 30px;
    
}